// font-family: 'Overpass', sans-serif;
// font-family: 'Ubuntu', sans-serif;
body {
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  text-align: center;
  color: $Very-dark-grayish-blue;
}

a {
  color: $White;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1110px;
  margin: auto;
  padding: 85px 25px;
}

h1 {
  font-size: 2.3125rem;
}

h2 {
  font-size: 2.5rem;
  color: $Very-dark-black-blue;
}

p {
  font-size: 1.25rem;
  line-height: 1.8;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    padding: 200px 48px;
  }

  h1 {
    font-size: 3.375rem;
  }

  p {
    font-size: 1.75rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    padding: 160px 0;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: 0.9rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  p {
    font-size: 1rem;
  }
}
