// primary color
$Light-red: hsl(356, 100%, 66%); //(CTA text)
$Very-light-red: hsl(355, 100%, 74%); //(CTA hover background)
$Very-dark-blue: hsl(208, 49%, 24%); //(headings)

// neutral color
$White: hsl(0, 0%, 100%); //(text)
$Grayish-blue: hsl(240, 2%, 79%); //(footer text)
$Very-dark-grayish-blue: hsl(207, 13%, 34%); //(body copy)
$Very-dark-black-blue: hsl(240, 10%, 16%); // (footer background)

//Background gradient - Intro/CTA mobile nav:
$Very-light-red: #ff8f70;
$Light-red: #ff3d54;

// Background gradient - body:
$Very-dark-gray-blue: #2c2d3f;
$Very-dark-desaturated-blue: #3f4164;
